  /* Extra pc devices (pc, 1300px and down) */
@media only screen and (max-width: 1300px) {
	
.w1300{ width:90%; margin:0 auto;}

#container li img {
    width: 100%;
    height: auto;
}
}
 
 
 
@media only screen and (max-width: 1200px) 
{
     .mian .left 
     {
         display:none;
}
	.mian .right {
    width: 90%;
    float: none;
    position: relative;
    z-index: 999;
    margin:0 auto;
    margin-top: 40px;
}
.boxleft {
    width: 375px;
    background: #d89d9f;
    text-align: center;
    padding: 40px 0px;
    margin-right: 20px;
    float: left;
    position: relative;
    margin-left: auto;
}

.content_img img{ width:100%;}
}
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
	.mian .right{ text-align:center;}
	.boxleft { 
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-width:100%;
}
.boxright {
    float: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
}

footer .finner{ width:100%; margin:0 auto;}

.page2 .news .content .columnright{ float: none;
    width: 92%; margin:0 auto;}
.page2 .news .content .columnleft{ float: none;
    width: 92%; margin:0 auto;}
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.logo p {
    font-size: 24px; 
}
header nav 
{
    margin-top:10px;
}
.mian .right { 
    margin-top: 20px;
}
#container li {
    width: 99.6%;
    float: left;
    padding: 0.2%;
    margin-bottom: 48px;
} 
.page2 .news h2:after{ content:''; height:4px; width:20%; position:absolute; top:30px; left:80%; background:#D89D9F;}
}


@media only screen and (max-width: 480px) 
{ 
    .title .titleright li { 
    margin: 0 10px; 
}
.title { 
    margin-bottom: 20px;
}

.foot a{  margin-right:30px;}


.outerbox{ width:90%; margin:20px auto; background:#fff; padding:20px; }


.page2 .news .content .columnright{ float: none;
    width: 98%; margin:0 auto;}
.page2 .news .content .columnleft{ float: none;
    width: 98%; margin:0 auto;}
    
    .news .content {
    padding: 30px 20px;
}
video 
{
    width:98% !important;
}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
}

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (max-width: 768px) {
	.products-box{
		width:350px;
		
	}
	.para{
		width:100%;
	}
	.nav{
		width:100%;
		height:80px;
	}
	.container{
		width:100%;
	}
}*/

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
	
}
